body{
  color: #4B4037;
}

h1, h2, h3, h4, h5, h6{
  color: #7B4B32;
}

.primary-btn{
  background-color: #F7A9A8;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  width: fit-content;
  font-weight: bold;
}

.primary-btn:hover{
  background-color: #F9C784;
}

.primary-btn:disabled{
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

.primary-btn:disabled:hover{
  background-color: #cccccc;
}

.label{
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}

.input{
  border: 2px solid #D4C4A8;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.input:focus{
  border: 2px solid #4B4037;
}